@media all and (min-width: 0) and (max-width:360px){
    main{
        flex-wrap: wrap;
    }
        
    #trainTicket{
        width: 95vw;
        margin-left: 0;
    }
    .mainTicket p{
        font-size: 0.7em;
    }       
}
@media all and (min-width: 361px) and (max-width:499px){
    main{
        flex-wrap: wrap;
    }
        
    #trainTicket{
        width: 95vw;
        margin-left: 0;
    }
    .mainTicket p{
        font-size: 1em;
    }       
}
@media all and (min-width: 500px) and (max-width:1079px){
    main{
        flex-wrap: wrap;
    }
        
    #trainTicket{
        width: 480px;
        margin-left: 0;
    }
    .mainTicket p{
        font-size: 1em;
    }       
}
/* @media all and (min-width: 0){
    #trainTicket{
        height: 450px;
    }
           
} */