/* RESET RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY RULES */
body{
    background-color: lemonchiffon; 
    color: tomato;  
}

/* MAIN DIV RULES */
main{
    display: flex;
    justify-content: center;
}
header{
    width: 100vw;
    height: 70px;
}
#input-box{
    width: 460px;
    /* height: calc(100vh - 70px); */
}
.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ALL STYLE RULES */
h1{
    padding-top: 10px;

}
h1, h2, h3{
    text-align: center;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
    /* INPUT STYLES */

.inputClass, #eta{
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: large;
    margin-bottom: 10px;
    border: tomato 1px solid;
    color: tomato;
}
.buttonClass{
    height: 40px;
    width: 25%;
    border-radius: 10px;
    font-size: large;
}
label{
    margin-top: 20px;
    font-weight: bold;
}
input::placeholder, select, .buttonClass{
    color: coral;
}
/* LOGO RULES */
#doubleT{
    margin-top: 10px;
    position: absolute;
}
#doubleT div{
    color: white;
    font-size: 25px;
    position: absolute;
}
#firstT{
    margin-left: 20px;
}
#secondT{
    margin-left: 30px;
    margin-top: 5px;
}
/* END LOGO RULES */

#dettKm{
    margin-bottom: 2px;
}