/* RESET RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY RULES */
body{
    background-color: lightskyblue; 
    color: dodgerblue;  
}

/* MAIN DIV RULES */
main{
    display: flex;
    flex-wrap: nowrap;
}
header{
    width: 100vw;
    height: 70px;
}
#input-box{
    width: 30vw;
    height: calc(100vh - 70px);
}

#trainTicket{
    width: 500px;
    height: 300px;
    margin-left: calc(70vw/2);
    transform: translate(-50%, 0);
    margin-top: 20px;
}
.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ALL STYLE RULES */
h1{
    padding-top: 10px;

}
h1, h2, h3{
    text-align: center;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
    /* INPUT STYLES */

.inputClass, #eta{
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: large;
    margin-bottom: 10px;
    border: dodgerblue 1px solid;
    color: dodgerblue;
}
.buttonClass{
    height: 40px;
    width: 25%;
    border-radius: 10px;
    font-size: large;
}
label{
    margin-top: 20px;
    font-weight: bold;
}
input::placeholder, select, .buttonClass{
    color: skyblue;
}
/* LOGO RULES */
#doubleT{
    margin-top: 10px;
    position: absolute;
}
#doubleT div{
    color: white;
    font-size: 25px;
    position: absolute;
}
#firstT{
    margin-left: 20px;
}
#secondT{
    margin-left: 30px;
    margin-top: 5px;
}
/* END LOGO RULES */

/* TICKET STYLE RULES */
.bandaRossa{
    height: 50px;
    background-color: tomato;
}
.mainTicket{
    background-color: lemonchiffon;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.bandaRossaUp{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bandaRossaDown{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
}
/* END TICKET STYLE RULES */

/* TICKET SECTION RULES */
.mainTicket{
    font-family: 'Roboto Mono', monospace;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.min{
    font-size: small;
    font-weight: normal;
}
img{
    width: 45px;
}
.ticketSectionTop,
.ticketSectionBottom{
    width: 50%;
    height: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
i.fas{
    color: white;
    font-size: 20px;
    margin: 14px 40px;
}
/* END TICKET SECTION RULES */

.displayNone{
    display: none;
    opacity: 0;
    transition: 2s ease;
}
.displayYes{
    display: block;
    opacity: 1;
    transition: 2s ease;
}

/* sistemare effetti */